.wrapper{
	padding:50px;
	background-color: tomato;
	color: white;
	min-height: 660px;
}

.wrapper h1{
	margin-bottom: 25px;
	background-color: white;
	color: tomato;
	padding: 20px;
	border-radius: 8px;
}

.form-group{
	border:2px solid #FFFFFF;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.btn{
	padding:4px 70px 4px 70px;
}

.table-size{
	padding-top: 100px;
}

.wrapper1{
	padding:20px;
	background-color: tomato;
	color: white;
	min-height: 660px;
}

.wrapper1 h1{
	margin-bottom: 25px;
	background-color: white;
	color: tomato;
	padding: 20px;
	border-radius: 8px;
}
